.background
  .search-container
    %p.search-container__header--number
      #{@items.length}件表示
    .search-container__main
      %ul.search-result
        - @items.each do|item|
          = link_to item_path(item.id), method: :get, class:"item-list" do
            %li.item-list__box
              .item-list__box--image
                = image_tag item.images.first.image.url, class: "image"
              .item-list__box--name
                = item.name
              .item-list__box--price
                = "#{item.price}円"
              .item-list__box--favorite
                %i.far.fa-heart.LikesIcon-fa-heart
                = item.favorites.count
    .search-container__footer
      = paginate(@items)
