- breadcrumb :grandchild_category
- @items.each do |item|
  = link_to "/items/#{item.id}", method: :get, class:"itemList" do
    .itemList__box
      .itemList__box--image
        = image_tag item.images.first.image.url, class: "image"
      .itemList__box--name
        = item.name
        %br
          = "#{item.price} 円"
          %br
            （税込）