.background
  .user-mypage
    .usre-mypage__header
      .user-mypage__header--contents
        %a{hlef: "#"}
          %div
            %img{src: "#", width: 60, height:60}
          %h2
            = current_user.nickname
          .user-status
            %div
              評価
              %span
                0
            %div
              出品数
              %span
                0
    %ul.user-mypage__tabs
      %li
        = link_to "お知らせ", "#", class: "news"
      %li
        = link_to "やること", "#", class: "todo"
    .user-mypage__news-todo-contents
    




.contents_row
  %p
    = "#{@nickname}さんの出品一覧"

  - @items.each do |item|
    = link_to "/items/#{item.id}", method: :get, class:"itemList" do
      %li.itemList__box
        .itemList__box--image
          = image_tag item.images.first.image.url, class: "image"
        .itemList__box--name
          = item.name
          %br
            = "#{item.price} 円"
            %br
              （税込）

  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'actions'
  = link_to "クレジットカード登録", "#", class: 'actions'
