.card-registration-contents

  .card-registration__head
  .card-registration__main
    .card-registration__main__container
      %h2.card-registration__main__container__head
        支払い方法

      .card-registration__main__container__form
        = form_with model: @payment, url: {controller: 'payments', action: 'create' }, id: "card-form" do |f|
          .card-form__content
            .card-form__content__group
              = f.label :カード番号  
              %span.form-require 必須
                
              = f.text_field :card_number, id: "card_number", class: "input-default", placeholder: "半角数字のみ"
              %ul
                %li
                  = icon("fab", "cc-visa fa-2x")
                %li
                  = icon("fab", "cc-mastercard fa-2x")
                %li
                  = icon("fab", "cc-jcb fa-2x")
                %li
                  = icon("fab", "cc-amex fa-2x")
            .card-form__content__group
              = f.label :有効期限
              %span.form-require 必須
              .card-form__content__group__exp
                = f.text_field :exp_year, id: "exp_year", class: "input-default-half", placeholder: "年"
                %span 年
                = f.text_field :exp_month, id: "exp_month", class: "input-default-half", placeholder: "月"
                %span 月
            .card-form__content__group
              = f.label :セキュリティコード         
              %span.form-require 必須
              = f.text_field :cvc, id: "cvc", class: "input-default", class: "input-default", placeholder: "カード背面4桁もしくは3桁の番号"
              .card-help
                = icon("far", "question-circle")
                %span
                  = link_to "カードの裏面の番号とは？", "#"
            .card-form__content__group
              = f.submit "登録する", id: "token", class: "registration-btn"

  .card-registration__footer
