%section.introdcution
  .intContent
    .intTitle
      %br/
      人生を変えるフリマアプリ
    %p.intText
      FURIMAはだれでもかんたんに出品・購入できる
      %br/
      フリマアプリです
    .intApp
      = link_to "https://www.apple.com/ios/app-store/" do
        =image_tag "https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2016-06-01&kind=iossoftware&bubble=ios_apps", width: "160"
      = link_to "http://play.google.com/store/#?pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" do
        = image_tag "https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png", width: "160"

%section.reason
  %h2.reasonTitle
    FURIMAが選ばれる3つの理由
  %ul.examples
    %li.example
      .example__image
        .number 1
      %h3.example__text
        %span 3分
        ですぐに出品
      %p.example__description
        スマホで入力するだけで簡単出品できる！
    %li.example
      .example__image
        .number 2
      %h3.example__text
        %span シンプル
        で使いやすい
      %p.example__description
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.example
      .example__image
        .number 3
      %h3.example__text
        手数料
        %span 業界最安
      %p.example__description
        最大3％でお得に出品＆購入！

%section.point
  .pointContent
    .pointTitle
      %br/
      会員数日本一位
    %p.pointText
      FURIMAは、フリマアプリで最も人気。
      %br/
      出品・購入回数も業界最多です！
      %br/
      ほしかったあの商品に出会えるかもしれません。
    .pointApp
      = link_to "https://www.apple.com/ios/app-store/" do
        =image_tag "https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2016-06-01&kind=iossoftware&bubble=ios_apps", width: "160"
      = link_to "http://play.google.com/store/#?pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" do
        = image_tag "https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png", width: "160"

%section.mainfeatures
  %h2.featureTitle
    FURIMAの特徴
  .features
    %section.feature
      %figure.feature__image
      %h3.feature__text
        簡単に売り買いができる
      %p.feature__description
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %section.feature
      %fegure.feature__image
      %h3.feature__text
        売上金は即日振込みに対応
      %p.feature__description
        午前９時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
    %section.feature
      %fegure.feature__image
      %h3.feature__text
        様々な支払いに対応
      %p.feature__description
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

%section.pickup
  %h2.header
    ピックアップカテゴリー
    .itemBox
      .itemHeader
        新規投稿商品
      %ul.itemLists
        - @items.last(3).each do |item|
          = link_to "/items/#{item.id}", method: :get, class:"itemList" do
            %li.itemList__box
              .itemList__box--image
                = image_tag item.images.first.image.url, class: "image"
              .itemList__box--name
                = item.name
                %br
                  = "#{item.price} 円"
                  %br
                    （税込）


%section.pickup
  %h2.header
    ピックアップブランド
    .itemBox
      .itemHeader
        アーカイバ
      .itemLists
/        - @items.last(3).each do |item|
/          = link_to items_path(item), method: :get, class:"itemList" do
/            - if item.selling_status.status.present?
/              %li.itemList__box
/              .itemList__box--image
/                = item.images.first
/                .itemList__box--name
/                  = @items.item_name
/                  = @items.price