.insideHeader
  -# ログイン・ログアウト時のみflashメッセージ表示したいので、application.html.hamlからこちらに移動
  = render 'layouts/notifications'
  .mainHeader
    %h1.logo
      = link_to "#" 

    .searchBox
      = form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |f|
        = f.text_field :keyword, placeholder: "商品を検索する", class: "search-input"
        = f.submit "検索", class: "search-btn"
      .search-result
      
  .navBar
    %ul.leftList
      %li.list
        - @parents.each do |parent|
          %p 
            = parent.name
          - parent.children.each do |child|
            %p
              = child.name    
            - child.children.each do |grandchild|
              %p
                = grandchild.name

      %li.list
        = link_to "ブランド"
        .menue
    %ul.rightList
      - if user_signed_in?
        %li.btn
          = link_to "マイページ", "/users/#{current_user.id}", class: 'actions'
        %li.btn
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'actions'
        %li.btn
          = link_to '出品', new_item_path
        %li.btn
          = link_to 'カード登録', new_card_path
        %li.btn
          = link_to 'カード削除', card_index_path
      - else
        %li.btn
          = link_to "新規会員登録", new_user_registration_path, class: 'actions'
        %li.btn
          = link_to "ログイン", new_user_session_path, class: 'actions'
