%p#notice= notice
%p
  %strong Title:
  = @item.name
%p
  %strong Image:
%p
  %strong Text:
  = @item.description
%p
  %strong Text:
  = @item.price
%p
  %strong カテゴリー:
%p
  = @category.name
%p
  = @category_child.name
%p
  = @item.category.name


= link_to 'Back', root_path
