%p#notice= notice
%p
  %strong Title:
  = @item.item_name
%p
  %strong Image:
  = @item.images.(image:[:id])
%p
  %strong Text:
  = @item.text
%p
  %strong Text:
  = @item.text
= link_to 'Edit', edit_item_path(@item)
|
= link_to 'Back', items_path
