%p#notice= notice

%p
  出品者:
  = @item.name

%p
  カテゴリー:
  = @item.category
%p
  ブランド:
  -# = @item.description
%p
  商品の状態:
  = @item.condition
%p
  配送料の負担:
  = @item.shipping

%p
  発送元の地域:
  = @item.shippingarea

%p
  発送日の目安:
  = @item.shippingday


-# = link_to 'Edit', edit_item_path(@item)
-# |
-# = link_to 'Back', items_path
