%p#notice= notice
%p
  %strong Title:
  = @item.title
%p
  %strong String:
  = @item.string
%p
  %strong Text:
  = @item.text
%p
  %strong Text:
  = @item.text
= link_to 'Edit', edit_item_path(@item)
|
= link_to 'Back', items_path
