%p#notice= notice
%p
  %strong Title:
  = @item.name
%p
  %strong Image:
  -# = @item.images.(image:[:id])
%p
  %strong Text:
  = @item.description
%p
  %strong Text:
  = @item.price
%p
  %strong parent_category_id:
  -# = @categories.name
%p
  %strong category_id:
  = @item.category.name


-# = link_to 'Edit', edit_item_path(@item)
|
= link_to 'Back', root_path
