- breadcrumb :card

.card-registration-contents
  = render 'card-header'
  .card-registration__main
    .card-registration__main__container
      .card-registration__main__container__head
        %h2 クレジットカード情報入力
      .card-registration__main__container__form
        = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
          .card-form__content
            .card-form__content__group
              %label カード番号
              %span.form-require 必須
              = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
              %br
              %ul
                %li
                  = icon("fab", "cc-visa fa-2x")
                %li
                  = icon("fab", "cc-mastercard fa-2x")
                %li
                  = icon("fab", "cc-jcb fa-2x")
                %li
                  = icon("fab", "cc-amex fa-2x")
                %li
                  = icon("fab", "cc-diners-club fa-2x")
                %li
                  = icon("fab", "cc-discover fa-2x")
            .card-form__content__group
              %label 有効期限
              %span.form-require 必須
              %br
              .card-form__content__group__exp
                .card-form__content__group__exp__half
                  %select#exp_month{name: "exp_month", type: "text", class: "number-half"}
                    %option{value: ""} --
                    %option{value: "1"}01
                    %option{value: "2"}02
                    %option{value: "3"}03
                    %option{value: "4"}04
                    %option{value: "5"}05
                    %option{value: "6"}06
                    %option{value: "7"}07
                    %option{value: "8"}08
                    %option{value: "9"}09
                    %option{value: "10"}10
                    %option{value: "11"}11
                    %option{value: "12"}12
                  %svg.card-svg{"aria-hidden": "true", fill: "888888", "fill-rule": "evenodd", height: "24", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
                  %span.number-half__logo 月
                .card-form__content__group__exp__half
                  %select#exp_year{name: "exp_year", type: "text", class: "number-half"}
                    %option{value: ""} --
                    %option{value: "2019"}19
                    %option{value: "2020"}20
                    %option{value: "2021"}21
                    %option{value: "2022"}22
                    %option{value: "2023"}23
                    %option{value: "2024"}24
                    %option{value: "2025"}25
                    %option{value: "2026"}26
                    %option{value: "2027"}27
                    %option{value: "2028"}28
                    %option{value: "2029"}29
                  %svg.card-svg{"aria-hidden": "true", fill: "888888", "fill-rule": "evenodd", height: "24", viewbox: "0 0 24 24", width: "24"}
                    %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
                  %span.number-half__logo 年
                  %br
            .card-form__content__group
              %label セキュリティコード
              %span.form-require 必須
              = text_field_tag "cvc", "", class: "number", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
              .card-help
                = icon("far", "question-circle")
                %span
                  = link_to "カードの裏面の番号とは？", "#"
            .card-form__content__group
              #card_token
              = submit_tag "追加する", id: "token_submit", class: "registration-btn"
  = render 'card-footer'